.confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('https://media.cooky.vn/images/blog-2016/nghe-thuat-trinh-bay-va-chup-anh-mon-an%208.jpg') center/cover no-repeat;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: transparent;
  padding: 20px;
}

.confirm_box {
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url('../../../public/vienmoi\(1\).jpg');
  background-size: 100% 100%; /* Chiều ngang và chiều dọc đều 100% */
  background-repeat: no-repeat; /* Đảm bảo hình ảnh không lặp lại */
  background-position: center; /* Đặt hình ảnh ở giữa */
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  border: 2px solid palevioletred; /* Add border to see the element */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.confirm_box h1 {
  margin-bottom: 20px;
}

.confirm_details {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 8px;
  text-align: left;
  margin-bottom: 20px;
  align-items: center;
  margin-top: 20px;
}

.detail_item {
  display: contents;
  
}

.label {
  font-weight: bold;
}

.confirm_buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.confirm_buttons button {
  background-color:#33CC33;
  color: black;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.confirm_buttons button:hover {
  background-color: #FF3300;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.confirm_buttons button.back_button {
  background: linear-gradient(186deg, black, #7e7a7a8a);
  color: #fff;
}

.confirm_buttons button.back_button:hover {
  background-color: red;
  color: yellow;
}
.logo {
  width: 150px; /* Đặt kích thước chiều rộng của hình ảnh */
  height: auto; /* Tự động tính toán chiều cao dựa trên tỷ lệ */
}